{% extends "base.html" %}
{% load static %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow p-4" style="width: 400px;">
    <h3 class="text-center mb-4">Sign In</h3>

    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="username" required>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
      </div>

      {% if form.errors %}
        <div class="alert alert-danger">
          Invalid username or password.
        </div>
      {% endif %}

      <button type="submit" class="btn btn-dark w-100">Sign In</button>
      <div class="text-center mt-3">
  <small>Don’t have an account? <a href="{% url 'accounts:signup' %}">Sign up</a></small>
</div>
    </form>
  </div>
</div>
{% endblock %}
